<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-6 col-md-6 col-lg-6">

        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-bar-chart-o"></i>

                <h3 class="box-title">Summary</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div id="bar-chart" style="height: 100px;"></div>
                <div>
                    <h4>Found {total_articles} articles with {negs} of negative sentiment and {poss} of positive sentiment</h4>
                </div>
            </div>
            <!-- /.box-body-->
        </div>

    </div>
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
</div>