<div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-yellow">
            <div class="widget-user-image">
                <!-- <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar"> -->
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">General Statistics</h3>
            <h5 class="widget-user-desc">numbers on a glimpse...</h5>
        </div>
        <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
                <li>
                    <a href="#">Total articles
                        <span class="pull-right badge bg-blue">{total_articles}</span>
                    </a>
                </li>
                <li>
                    <a href="#">Sources
                        <span class="pull-right badge bg-aqua">{sources}</span>
                    </a>
                </li>
                <li>
                    <a href="#">Topics
                        <span class="pull-right badge bg-green">{topics}</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <!-- /.widget-user -->
</div>