<!-- timeline time label -->
<li class="time-label">
    <span class="">
        {date}
    </span>
</li>
<!-- /.timeline-label -->

<!-- timeline item -->
<li>
    <!-- timeline icon -->
    <i class="fa  bg-{sentiment_color}">{sentiment}</i>
    <div class="timeline-item">
        <span class="time">
            <i class="fa fa-clock-o"></i> {source}</span>

        <h3 class="timeline-header">
            <a href="#">{title}</a>
        </h3>

        <div class="timeline-body">
            {body}
        </div>

        <div class="timeline-footer">
            <a class="btn btn-primary btn-xs" target="_blank" href="{url}">Read article</a>
        </div>
    </div>
</li>
<!-- END timeline item -->