<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username">General Statistics</h3>
                <h5 class="widget-user-desc">numbers in a glimpse</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="http://maxsales.gr/img/stats.jpg" alt="Statistics">



            </div>



            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Total articles</h5>
                            <span class="description-text">{total_articles}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Sources</h5>
                            <span class="description-text">{sources}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">Topics</h5>
                            <span class="description-text">{topics}</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>

    </div>
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
</div>


<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-6 col-md-6 col-lg-6">

        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Sources</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {sources_full}
            </div>
            <!-- /.box-body -->
        </div>




    </div>
    <div class="col-sm-3 col-md-3 col-lg-3"></div>

</div>



<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-sm-6 col-md-6 col-lg-6">

        <div class="box box-warning box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Topics</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {topics_full}
            </div>
            <!-- /.box-body -->
        </div>




    </div>
    <div class="col-sm-3 col-md-3 col-lg-3"></div>

</div>